<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 col-sm-12">

        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 text-center my-2">
                        <img src="../../../assets/img/producto1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Placa de Video Asrock Radeon RX 5700 XT 8GB GDDR6 Taichi X OC+</h5>
                            <h4>$233.333</h4>
                            <button class="btn btn-success">SUMAR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 text-center my-2">
                        <img src="../../../assets/img/producto1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Placa de Video Asrock Radeon RX 5700 XT 8GB GDDR6 Taichi X OC+</h5>
                            <h4>$233.333</h4>
                            <button class="btn btn-success">SUMAR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 text-center my-2">
                        <img src="../../../assets/img/producto1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Placa de Video Asrock Radeon RX 5700 XT 8GB GDDR6 Taichi X OC+</h5>
                            <h4>$233.333</h4>
                            <button class="btn btn-success">SUMAR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>