<div class="container-fluid text-center mt-3">
    <div class="row row-cols-1 g-4">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"> <img  class="img-carrito" src="../../../assets/img/producto1.png" alt=""> </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <button class="btn btn-lg btn-bg btn-outline-light">COMPRAR</button>
    </div>
</div>