<div class="container-fluid text-center mt-3">
    <div class="row row-cols-1 g-4">
        <div class="card mb-3 ">
            <div class="row g-0 ">
                <div class="col-md-2 ">
                    <img src="../../../assets/img/producto1.jpg " class="img-fluid rounded-start imgn" alt="... ">
                </div>
                <div class="col-md-6 ">
                    <div class="card-body ">
                        <h5 class="card-title ">Placa de Video Asrock Radeon RX 5700 XT 8GB GDDR6 Taichi X OC+</h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <div class="btn-group text-center">
                            <button class="btn btn-sm">-</button>
                            <span class="btn btn-sm">1</span>
                            <button class="btn btn-sm">+</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-body">
                        <h4 class="card-text">$233.333</h4>
                        <button class="btn btn-sm btn-danger position-absolute top-0 end-0 m-2 ">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <button class="btn btn-lg btn-bg btn-outline-light">COMPRAR</button>
    </div>
</div>