/* You can add global styles to this file, and also import other style files */

body {
    background-color: #dde8f0!important;
    ;
}

.btn-bg {
    background-color: #004581!important;
}


/*.card-img-top {
    background-color: #ddeffc;
}*/